/* CSS Document */

body {

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	background-image:url(../images/bg.jpg);

	background-position:top;

	background-repeat:repeat-x;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#000000;

	background-color:#FFFFFF;

}

p {

	padding:7px 0px 7px 0px;

	margin:0px 0px 0px 0px;

}

form {

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

}



h1 {

	padding:25px 25px 0px 0px;

	margin:0px 0px 0px 0px;

	color:#000000;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:17px;

	font-weight:normal;

	text-align:right;

	

}



h1 span {

	font-size:21px;

	font-weight:bold;

	

}





h2 {

	padding:0px 0px 5px 0px;

	margin:0px 0px 0px 0px;

	color:#c9282e;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	 

}

td

{

	padding-left:5px;

}

h3 {

	padding:0px 0px 5px 0px;

	margin:0px 0px 0px 0px;

	color:#135cae;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

}

h3  span {

	font-size:18px;

	font-weight:bold;

	

}



h4 {

	padding:10px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#9b0101;

}

h5 {



	color:#CC3300;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

}







h6 {

	padding:0px 0px 10px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#999999;

	

}

h6 a{

	color:#000000;

	text-decoration:none;

}

h6  a:hover {

	color:#969696;

	text-decoration:underline;

}

.clear {

	clear:both;

}

#mainContainer {

	width:978px;

	margin-left:auto;

	margin-right:auto;

	padding:0px 0px 0px 0px;

	position:relative;

	overflow:hidden;



}









#top-section {

	width:978px;

	height:175px;

	float:left;

	background-image:url(../images/topsection.jpg);

	background-repeat:no-repeat;

}



#content-section {

	width:978px;

	float:left;

	background-image:url(../images/banner-bg.jpg);

	background-repeat:no-repeat;

}

#content-pad {

	width:945px;

	float:left;

	padding:5px 0px 12px 20px;

	margin:0px 0px 0px 0px;

	

}



#logo {

	width:485px;

	height:119px;

	float:left;

	background-image:url(../images/logo.jpg);

	background-repeat:no-repeat;

}





#top-links {

	width:398px;

	height:41px;

	float:left;

	padding:10px 0px 0px 95px;



}

#top-links-list{

	float:left;

	padding:0px 0px 0px 20px;



}



#top-links-list ul {

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	list-style:none;



}

#top-links-list li {

	list-style:none;

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#FFFFFF;

}



#top-links-list li  a {

	color:#FFFFFF;

	text-decoration:none;

	font-weight:normal;

}

#top-links-list li  a:hover {

	color:#FFFF00;

	text-decoration:underline;

}



#top-links-list01{

	padding:0px 0px 0px 20px;

	width:110px;

	float:left;



}



#top-links-list01 ul {

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	list-style:none;



}

#top-links-list01 li {

	list-style:none;

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#FFFFFF;

	

}



#top-links-list01 li  a {

	color:#FFFFFF;

	text-decoration:none;

	font-weight:normal;

}

#top-links-list01 li  a:hover {

	color:#FFFF00;

	text-decoration:underline;

}



#top-links-btm {

	width:467px;

	height:19px;

	float:left;

	padding:10px 10px 0px 0px;

	text-align:right;

	color:#fecf00;

	font-size:12px;

}



#top-links-btm  a {

	color:#fecf00;	

	text-decoration:none;

}

#top-links-btm  a:hover {

	color:#fecf00;	

	text-decoration:none;

}





#top-search {

	width:467px;

	height:29px;

	float:left;

	padding:10px 10px 0px 0px;

	text-align:right;



}

 

.inputbox_search{

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-weight:normal;

	width:150px;

	height:15px;

	color:#999999;

	border:1px ridge #999999;

	



}

.button_search{

	vertical-align:bottom;

	height:22px;

}

#main-menu {

	width:883px;
	float:left;
	padding:23px 0px 0px 74px;

 }



#menu {

	float:left;	

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#ffffff;

	text-align:center;

	padding:0px 16px 0px 15px;	

	background-image:url(../images/link-divider.jpg);

	background-repeat:no-repeat;

	background-position:right top;	

 }

#menu a {

	color:#ffffff;	

	text-decoration:none;

}

#menu a:hover {

	color:#f9cd3d;	

	text-decoration:none;

}



#menu-last {

	float:left;	

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#ffffff;

	text-align:center;

	padding:0px 17px 0px 15px;	



	

}

#menu-last a {

	color:#ffffff;	

	text-decoration:none;

}

#menu-last a:hover {

	color:#f9cd3d;	

	text-decoration:none;

}







#banner {

	width:942px;

	height:129px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	background-image:url(../images/banner.jpg);

	background-repeat:no-repeat;

	

}



#banner-btm-icons{

	width:942px;

	height:61px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:20px 0px 0px 0px;

	border-bottom:1px #cccccc solid;



}





#icons{

	width:225px;

	height:59px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:0px 30px 0px 8px;



}



#icons01{

	width:212px;

	height:59px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:0px 38px 0px 0px;



}







#icons02{

	width:178px;

	height:59px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:0px 38px 0px 0px;



}





#icons03{

	width:198px;

	height:59px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;





}





#content {

	float:left;	

	width:605px;

	height:108px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#000000;

	padding:10px 10px 5px 15px;	

	

}





#admissions {

	float:left;	

	width:275px;

	height:108px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#000000;

	padding:10px 0px 5px 15px;	

	

}



#main-categories {

	width:942px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:15px 0px 10px 0px;

	background-image:url(../images/main-categories-bg.jpg);

	background-repeat:repeat-x;



}



#main-categories-tab {

	width:200px;

	float:left;

	padding:0px 25px 0px 15px;

}





#main-categories-tab-last {

	width:200px;

	float:left;

	padding:0px 0px 0px 10px;

}

#main-categories-tab-img{

	width:100px;

	height:69px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;





}



#main-categories-tab-content{

	width:100px;

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	float:left;

	color:#000000;

}



#main-categories-tab-content a{

	color:#000000;

	text-decoration:none;

}

#main-categories-tab-content a:hover {

	color:#000000;

	text-decoration:underline;

}



.main-categories-tab-head-1{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#97000f;





}



.main-categories-tab-head-2{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#079700;

	}



.main-categories-tab-head-3{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#ff6101;





}





.main-categories-tab-head-4{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#336699;





}



.read {

	color:#be5e01;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

        vertical-align:bottom;

}

.read a{

	color:#be5e01;

	text-decoration:none;

}

.read a:hover {

	color:#be5e01;

	text-decoration:underline;

}







#events{

	width:930px;

	height:21px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:5px 5px 0px 5px;

	border:1px #cccccc solid;



}



#events-btm{

	width:940px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	border-bottom:1px #cccccc solid;

	border-left:1px #cccccc solid;

	border-right:1px #cccccc solid;



}





#events-btm-list{

	float:left;

	padding:15px 0px 15px 30px;

	width:282px;

	border-right:1px #cccccc solid;



}



#events-btm-list ul {

	padding:0px 0px 0px 0px;

	margin:15px 0px 0px 0px;

	list-style:none;



}

#events-btm-list li {

	list-style:none;

	padding:0px 0px 0px 15px;

	margin:0px 0px 5px 0px;

	background-image:url(../images/arrow.jpg);

	background-repeat:no-repeat;

	background-position:top left;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#000000;

}



#events-btm-list li  a {

	color:#000000;

	text-decoration:none;

	font-weight:normal;

}

#events-btm-list li  a:hover {

	color:#990000;

	text-decoration:underline;

}



#events-btm-list-last{

	float:left;

	padding:15px 0px 15px 30px;

	width:282px;



}



#events-btm-list-last ul {

	padding:0px 0px 0px 0px;

	margin:15px 0px 0px 0px;

	list-style:none;



}

#events-btm-list-last li {

	list-style:none;

	padding:0px 10px 0px 15px;

	margin:0px 0px 5px 0px;

	background-image:url(../images/arrow.jpg);

	background-repeat:no-repeat;

	background-position:top left;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#000000;

}



#events-btm-list-last li  a {

	color:#000000;

	text-decoration:none;

	font-weight:normal;

}

#events-btm-list-last li  a:hover {

	color:#990000;

	text-decoration:underline;

}







.events-btm-list-head{

	padding:0px 7px 0px 0px;

	margin:0px 4px 0px 0px;

	background-image:url(../images/events-btm-list-head-div.jpg);

	background-repeat:no-repeat;

	background-position:top right;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:16px;

	font-weight:bold;

	color:#97000f;





}





#footer-inner{

	width:951px;

	height:60px;

	float:left;

	margin:5px 0px 0px 0px;

	padding:0px 0px 5px 0px;

	background-color:#FFFFFF;

	border-top:1px #e1e1e1 solid;	

}



#footer-inner-lt{

	width:200px;

	height:60px;

	float:left;

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;	

}

#footer-inner-rt{

	width:751px;

	height:60px;

	float:left;

	margin:5px 0px 0px 0px;

	padding:0px 0px 5px 0px;

	color:#737373;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	text-align:right;	

}



#footer-inner-rt  a {

	color:#737373;

	text-decoration:none;



}

#footer-inner-rt  a:hover {

	color:#737373;

	text-decoration:underline;

}





/*-------------inner style strat --------------- */



#content-pad-inner {

	width:951px;

	float:left;

	padding:0px 0px 12px 15px;

	margin:0px 0px 0px 0px;

	

}

#content-pad-bg  {

	width:951px;

	float:left;

	background-image:url(../images/content-pad-bg.jpg);

	background-repeat:repeat-y;

}

#content-pad-bg-event  {

	width:951px;

	float:left;

	background-image:url(../images/content-pad-bg01.jpg);

	background-repeat:repeat-y;

}

#inner-left-section{

	float:left;

	padding:0px 0px 0px 0px;

	width:202px;

}

#inner-left-top-bg{

	float:left;

	padding:20px 0px 0px 0px;

	width:200px;

	background-color:#f0f1f2;

	border:1px #FFFFFF solid;

}

#inner-left-top-bg h3{

	padding:0px 7px 0px 12px;

	margin:0px 4px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	color:#97000f;

}

#inner-left-top-bg ul {

	padding:0px 0px 0px 0px;

	margin:15px 0px 0px 0px;

	list-style:none;

}

#inner-left-top-bg  li span {

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	padding:0px 90px 5px 0px;

	margin:0px 0px 5px 0px;

	color:#FF0000;

	background-image:url(../images/arrow-selective.jpg);

	background-repeat:no-repeat;

	background-position:top right;

}

#inner-left-top-bg  li #active_menu {

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	padding:0px 79px 5px 0px;

	margin:0px 0px 5px 0px;

	color:#FF0000;

	background-image:url(../images/arrow-selective.jpg);

	background-repeat:no-repeat;

	background-position:top right;

}

#inner-left-top-bg li {

	list-style:none;

	padding:0px 10px 5px 25px;

	margin:0px 0px 5px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#000000;

 	border-bottom:1px #cccccc solid;

}



#inner-left-top-bg li  a {

	color:#000000;

	text-decoration:none;

	font-weight:normal;

}

#inner-left-top-bg li  a:hover {

	color:#990000;

	text-decoration:underline;

}





.inner-left-top-list-head{

	padding:0px 7px 0px 12px;

	margin:0px 4px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	color:#97000f;





}



#inner-left-news{

	width:183px;

	padding:10px 7px 10px 12px;

	margin:0px 0px 0px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	float:left;

	color:#000000;

	border-bottom:1px #e1e1e1 solid;



	

}

#inner-left-news .read {

	color:#be5e01;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

}

#inner-left-news .read a{

	color:#be5e01;

	text-decoration:none;

}

#inner-left-news .read a:hover {

	color:#be5e01;

	text-decoration:underline;

}

#inner-left-news .heading {

	color:#336699;

	font-weight:bold;

	text-decoration:none;

}



#inner-left-news span {

	color:#336699;

	font-weight:bold;

	text-decoration:none;

}





#inner-left-news a{

	color:#000000;

	text-decoration:none;

}

#inner-left-news a:hover {

	color:#000000;

	text-decoration:underline;

}







#inner-left-gallery{

	width:195px;

	padding:5px 0px 5px 3px;

	margin:0px 0px 0px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	float:left;

	color:#000000;



	

}



#inner-content-section{

	float:left;

	padding:10px;

	width:474px;

	text-align:justify;

}


#inner-content-section ul {
	padding:0px 0px 0px 15px;
	margin:0px 0px 0px 0px;
	list-style:none;

}
#inner-content-section li {
	list-style:none;
	padding:0px 10px 8px 15px;
	background-image:url(../images/arrow-inner-rt.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	margin:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000000;

}

#inner-content-section li  a {
	color:#000000;
	text-decoration:none;
	font-weight:normal;
}
#inner-content-section li  a:hover {
	color:#990000;
	text-decoration:underline;
}



#inner-content-font-increase-section{

	float:left;

	width:464px;

	height:20px;

}

#inner-content-section a{

	color:#2f679a;
	font-weight:bold;
	text-decoration:none;

}

#inner-content-section a:hover{

	text-decoration:underline;
	color:#2f679a;
	font-weight:bold;
}
 

#breadcrumb  {

	padding:10px 0px 15px 0px;

	margin:0px 0px 0px 0px;

	width:470px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	float:left;

	color:#666666;



	

}





#breadcrumb   span {

	color:#92050a;

	font-weight:normal;

	text-decoration:none;

}





#breadcrumb   a{

	color:#666666;

	text-decoration:none;

}

#breadcrumb   a:hover {

	color:#000000;

	text-decoration:none;

}





#course  {

width:470px;

	padding:5px 0px 15px 0px;

	margin:0px 0px 0px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	float:left;

	color:#e00210;



	

}





#course   span {

	color:#92050a;

	font-weight:bold;

	text-decoration:none;

}





#course   a{

	color:#e00210;

	text-decoration:none;

}

#course   a:hover {

	color:#e00210;

	text-decoration:underline;

}

#inner-right-section{

	float:left;

	padding:0px 0px 0px 10px;

	width:225px;



}



#inner-right-top{

	float:left;

	padding:20px 0px 0px 10px;

	width:225px;



}

#inner-right-top ul {

	padding:0px 0px 0px 15px;

	margin:15px 0px 0px 0px;

	list-style:none;

	width:190px;



}

#inner-right-top li {

	list-style:none;

	padding:0px 10px 5px 15px;

	background-image:url(../images/arrow-inner-rt.jpg);

	background-repeat:no-repeat;

	background-position:top left;

	margin:0px 0px 5px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#000000;

	border-bottom:1px #cccccc dotted;

}



#inner-right-top li  a {

	color:#000000;

	text-decoration:none;

	font-weight:normal;

}

#inner-right-top li  a:hover {

	color:#990000;

	text-decoration:underline;

}

#inner-right-top li  last {

	color:#000000;

	text-decoration:none;

	font-weight:normal;

	border:none;

}

#inner-right-top h3{

padding:0px 7px 0px 12px;

	margin:0px 4px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	color:#000000;

}

.inner-right-top-list-head{

	padding:0px 7px 0px 12px;

	margin:0px 4px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	color:#000000;





}

#inner-right-tabs{

	float:left;

	padding:5px 0px 5px 0px;

	width:225px;
 	border-bottom:1px #e1e1e1 solid;



}





#inner-right-tabs-content{

	width:210px;

	padding:0px 7px 0px 10px;

	margin:0px 0px 0px 0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	float:left;

	color:#666666;



	

}

#inner-right-tabs-content a{

	color:#666666;

	text-decoration:none;

}

#inner-right-tabs-content a:hover {

	color:#666666;

	text-decoration:underline;

}



#inner-right-tabs-content .read {

	color:#be5e01;

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

}

#inner-right-tabs-content .read a{

	color:#be5e01;

	text-decoration:none;

}

#inner-right-tabs-content .read a:hover {

	color:#be5e01;

	text-decoration:underline;

}



.inner-right-tabs-content-head{

	padding:0px 0px 0px 0px;

	margin:0px 4px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

	color:#9c7603;

}



.inner-right-tabs-content-head01{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

	color:#830278;





}





.inner-right-tabs-content-head02{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

	color:#207c87;





}



.inner-right-tabs-content-head03{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

	color:#20874c;





}



.inner-right-tabs-content-head04{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

	color:#b4050a;





}



.inner-right-tabs-content-head05{

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:bold;

	color:#1672ba;





}

.imgBorder {

	border:2px solid #c5c0c0;



	

}







/*-------------inner style end --------------- */

.redHeader{

 	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	color:#EC0000;

}





#inner-content-event-section{

	float:left;

	padding:10px;

	width:719px;

	text-align:justify;

}



#inner-content-event-font-increase-section{

	float:left;

	width:719px;

	height:20px;

}

#inner-content-event-section a{

	color:#000000;

	text-decoration:none;

}

#inner-content-event-section a:hover{

	text-decoration:underline;

}

.blue-font

{

color:#02508b;

font-size:14px;

font-weight:bold;

}

.border

{

border-bottom:1px solid #CCCCCC;

padding-bottom:5px;

padding-top:5px;

}
img {
	border: none;
} 
#inner-content-section #more_details
	{
		background-color:#000000;
		color:#FFFFFF;
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 
		border-radius: 5px; 
		padding:2px 5px 2px 5px;
		float:right;
		margin-right:10px;
		margin-top:10px;
	}
	
	/*22-08-2012*/
.newsletterArchive{
	color:#1196DF;
	font-size:12px;
	font-weight:bold;
	padding-left:15px;
}
.newsletterArchive a{
	color:#1196DF;
 	text-decoration:none;
}
.newsletterArchive a:hover{
 	text-decoration:underline;
}
